$fontFamily: 'Open Sans', sans-serif;
$fontSize: 1em;
$borderRadius: 2px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #606f74;
$headerBgColor: #ffffff;
$headerTextColor: #232e34;
$headerFontWeight: bold;
$headerIconTextColor: #222222;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #aaaaaa;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #aaaaaa;
$stateDefaultBgColor: #606f74;
$stateDefaultTextColor: #ffffff;

//Active State
$stateActiveBorderColor: #0061af;
$stateActiveBgColor: #0061af;
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: #f2f2f2;
$stateHighlightBgColor: #f2f2f2;
$stateHighlightTextColor: #333333;

//Focus State
$stateFocusBorderColor: #25a3f9;
$stateFocusBgColor: #0061af;
$stateFocusTextColor: #ffffff;

//Error State
$stateErrorBorderColor: #fab146;
$stateErrorBgColor: #fab146;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #25a3f9;
$stateHoverBgColor: #3d444f;
$stateHoverTextColor: #ffffff;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #000000;
$invalidInputBorderColor: #fab146;
$inputGroupTextColor: #ffffff;

@import '../_theme';