$fontFamily: openSans, segoe ui, Arial;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #606f74;
$headerBgColor: #ffffff;
$headerTextColor: #232e34;
$headerFontWeight: bold;
$headerIconTextColor: #222222;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #aaaaaa;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #aaaaaa;
$stateDefaultBgColor: #606f74;
$stateDefaultTextColor: #ffffff;

//Active State
$stateActiveBorderColor: #0061af;
$stateActiveBgColor: #0061af;
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: #ffffff;
$stateHighlightBgColor: #c5ddfc;
$stateHighlightTextColor: #333333;

//Focus State
$stateFocusBorderColor: #2293f7;
$stateFocusBgColor: #0061af;
$stateFocusTextColor: #ffffff;

//Error State
$stateErrorBorderColor: #e69700;
$stateErrorBgColor: #e69700;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #2293f7;
$stateHoverBgColor: #0061af;
$stateHoverTextColor: #ffffff;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #2293f7;
$invalidInputBorderColor: #e69700;

@import '../_theme';